@model TiendaDeCarlos.Models.ClienteModel
<!DOCTYPE html>
    <head>
        <meta name="viewport">
        <link rel="stylesheet" href="~/css/CarritoStyle.css" >
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Castoro&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="MainWrapper">
            @if( (Model.productosCarrito).Count > 0)
            {
                <form method="POST">
                    <div class="view">
                    <table>
                        <thead>
                            <tr>
                                <th>Producto</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var producto in Model.productosCarrito)
                            {
                                var cacheItemKey = producto.Nombre;
                                <tr>
                                    <td><div class="imagen">
                                        <img src="~/Pictures/@producto.Imagen"   
                                        height="100" width="100"   
                                        asp-append-version="true" />  </td>
                                    <td> @Html.DisplayFor(modelItem => producto.Nombre)</td>
                                </tr> 
                            }
                        </tbody>
                    </table> 
                    </div>

                    <div class="pago">
                        <div>
                            <p class="words">Esta seguro de querer agregar mas productos</p>
                        </div>
                        <div>   
                            <input class="botons" type="submit" value="Seguir comprando">
                        </div>
                    </div> 
                </form>
            }
            else
            {
                <p>No tiene productos agregador al carrito</p>
                <form asp-controller="Cliente" asp-action="HomeCliente">
                    <button type="submit">Volver a la pagina anterior</button>
                </form>
            }
        </div>
    </body>    
</html>
