@model TiendaDeCarlos.Models.ClienteModel

<!DOCTYPE html>
    <head>
        <meta name="viewport">
        <link rel="stylesheet" href="~/css/CrearUsuarioStyle.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Castoro&display=swap" rel="stylesheet">
    </head>
    <body>
        
            <div class="NewUser">
                <form asp-controller="Usuario" asp-action="ClienteDef"  method="POST">
                    <div>
                        <input class="controls" asp-for="Nombre" placeholder="Nombre" required>
                        <input class="controls" asp-for="Apellido" placeholder="Apellido" required>
                        <input class="controls" asp-for="Domicilio" placeholder="Domicilio" required>
                        <input class="controls" asp-for="Username" placeholder="Username" required>
                        <input class="controls" asp-for="Contrasena" type="password" placeholder="Contraseña" required>
                    </div>
                    <div>
                        <p>Metodo de pago:
                        <input type="radio" required> TarjetaCredito
                        <input type="radio" required> PayPal
                        <input type="radio" required> CuentaAhorros
                        </p>
                    </div>
                    <div>
                        <input class="botons" type="submit" value="Registrarse">
                    </div>
                    
                </form>
             </div>
        

    </body>    
</html>