@model TiendaDeCarlos.Models.ClienteModel

<!DOCTYPE html>
    <head>
        <meta name="viewport">
        <link rel="stylesheet" href="~/css/LoginStyle.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Castoro&display=swap" rel="stylesheet">
    </head>
    <body>
        <section id="pantallaNotWorking">
            <div class="infoWrapper">
                <p>Tienda de Carlos</p>
                <p>Nuestra Empresa</p>
                <img src="Pictures/vegge.jpg">
            </div>
            <div class="MainWrapper">
                <form asp-controller="Usuario" asp-action="Loginn"  method="POST">
                    <label for=""></label>
                    <div>
                        <p>¡Ingresa a tu cuenta!</p>
                        <label>
                            <input class="controls" asp-for="Username" type="text" placeholder="Username">
                        </label>
                    </div>
                    <div>
                        <label>
                                <input class="controls" asp-for="Contrasena" type="password" placeholder="Contraseña">
                            </label>
                            <p>¿Olvidaste tu contraseña?</p>
                        </div>
                        <div>
                            <input class="botons" type="submit" value="Ingresar">
                            <h6>El usuario o la contraseña son erroneos</h6>
                        </div>
                        <div>
                            ¿Aún no tienes cuenta?
                            <a class ="words" asp-controller="Usuario" asp-action="CrearUsuario">¡Creala!</a>
                        </div>
                    </form>
                </div>
            </section>
    </body>    
</html>